---
---

/* =========================================================================
 * Configuration variables
 * ========================================================================= */

$site-width: 40rem;

@mixin background-gradient($args...) {
   background: -webkit-linear-gradient($args);
   background: -moz-linear-gradient($args);
   background: -ms-linear-gradient($args);
   background: -o-linear-gradient($args);
}

/* =========================================================================
 * Common styles
 * ========================================================================= */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
   color: #222;
}

@font-face {
   font-display: swap;
   font-family: AbyssinicaSIL-R;
   src: local(AbyssinicaSIL),
        url(fonts/AbyssinicaSIL-R.woff),
        url(fonts/AbyssinicaSIL-R.ttf);
}

body {
   font-family: AbyssinicaSIL-R, "Apple Garamond", Garamond, Georgia, serif;
   font-size: 1em;
   line-height: 1.6em;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
   background: #b3d4fc;
   text-shadow: none;
}

::selection {
   background: #b3d4fc;
   text-shadow: none;
}

/*
 * Make placeholder colour consistent across browsers
 */

::-webkit-input-placeholder {
   color: #999;
}
:-moz-placeholder {
   color: #999;
}
:-ms-input-placeholder {
   color: #999;
}

/*
 * Make links only underline on hover
 */

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

/*
 * Make larger titles less imposing
 */

h1,
h2 {
   font-weight: normal;
}

/*
 * Sticky footer: http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
 */

html,
body {
   height: 100%;
}

/* =========================================================================
 * Default layout
 * ========================================================================= */

.Site {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.Site-content {
   flex: 1;
}

.Site-header {
   padding: 1em 0;
   background: #444;
   border-bottom: 0.1em solid #000;
   display: flex;
   justify-content: center;
}

.Site-title {
   margin: 0;
   flex-basis: $site-width;

   a {
      color: #fff;
      line-height: 1;
      font-size: 0.9em;
      padding-left: 3em;

      &:hover {
         color: #aaa;
         text-decoration: none;
      }
   }
}

.header-shadow {
   height: 0.4em;
   width: 100%;
   margin-bottom: 1.2em;

   @include background-gradient(top, #aaa, #fff);
}

.Site-content {
   display: flex;
   justify-content: center;

   .container {
      flex-basis: $site-width;
      padding: 0 1em;
   }
}

.Site-footer {
   background: #444;
   border-top: 0.1em solid #000;
   margin-top: 2.5em;
   padding: 1em 0;
   text-align: center;
}

.Site-links {
   list-style-type: none;
   margin: 0;
   padding-left: 0;

   li {
      display: inline-block;

      a {
         color: #a5a5a5;
         font-weight: bold;
      }
   }

   li + li {
      padding-left: 1em;
   }
}

/* =========================================================================
 * Post listings
 * ========================================================================= */

ul.posts {
   list-style-type: none;
   padding-left: 0;
}

ul.posts li {
   line-height: 1.2;
   padding-left: 1.5em;
   text-indent: -1.5em;

   & + li {
      margin-top: 0.7em;
   }
}

ul.posts .date {
   color: #aaa;
   font-family: Monaco, "Courier New", monospace;
   font-size: 80%;
}

/* =========================================================================
 * Posts
 * ========================================================================= */

.Post {
   position: relative;
   margin-top: 1em;

   p code {
      background: hsla(0, 0%, 10%, 1);
      color: hsla(0, 0%, 90%, 1);
      font-size: 0.8em;
      padding: 0.1em 0.3em;
      position: relative;
      top: -0.1em;
      vertical-align: middle;
   }
}

.Post-date {
   position: absolute;
   width: 5.5rem;
   left: -6.7rem;
   padding: 0.5em 0;
   border-top: 3px solid #444;

   font-size: 1.1em;
   text-align: center;
   text-transform: uppercase;
}

.Post-contents > *:first-child {
   margin-top: 0;
}

@media (max-width: $site-width + 11rem) {
   .Post-date {
      position: static;
      width: auto;
      padding: 0;
      border: 0;
      margin: 0 0 1em 0;
   }
}

/*
 * Code block styling
 */

.highlight {
   margin: 1em 0;
   max-width: calc(100vw - 2.7rem);
   overflow: auto;

   pre, code {
      background: url(images/pinstripe.gif);
   }

   pre {
      color: hsla(0, 0%, 90%, 1);
      font-size: 0.75em;
      margin: 0;
      white-space: normal;

      code {
         display: inline-block;
         line-height: 1.5em;
         padding: 1em 1.5em;
         white-space: pre;
      }
   }
}

@media (min-width: $site-width) {
   .highlight {
      max-width: $site-width;
   }
}
