<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>
         {% if page.title %}{{ page.title }} &#x2022; {% endif %}{{ site.name }}
      </title>
      <meta name="viewport" content="width=device-width">

      <link rel="stylesheet" href="/style/normalize.css">
      <link rel="stylesheet" href="/style/syntax.css">
      <link rel="stylesheet" href="/style/main.css">
   </head>
   <body>
      <div class="Site">
         <header class="Site-header">
            <h1 class="Site-title">
               <a href="/">{{ site.name }}</a>
            </h1>
         </header>
         <div class="header-shadow"></div>

         <div class="Site-content">
            <div class="container">
               {{ content }}
            </div>
         </div>

         <footer class="Site-footer">
            <ul class="Site-links">
               <li>
                  <a href="https://github.com/RogerDodger">Projects</a>
               </li>
               <li>
                  <a href="mailto:roger.dodger.thor&#64;gmail.com">Contact</a>
               </li>
            </ul>
         </footer>
      </div>
   </body>
</html>
