<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>
			{% if page.title %}{{ page.title }} &#x2022; {% endif %}{{ site.name }}
		</title>
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="//yui.yahooapis.com/pure/0.2.0/pure-min.css">
		<link rel="stylesheet" href="/style/syntax.css">
		<link rel="stylesheet" href="/style/main.css">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div class="container">
					<div class="inner-header">
						<h1 class="title"><a href="/">{{ site.name }}</a></h1>
					</div>
				</div>
				<div class="header-shadow"></div>
			</header>

			<section class="content">
				{{ content }}
			</section>

			<div class="push"></div>
		</div>

		<footer>
			<div class="footer-shadow"></div>
			<div class="container">
				<ul class="links">
					<li>
						<a href="https://github.com/RogerDodger">Projects</a>
					</li>
					<li>
						<a href="mailto:roger.dodger.thor&#64;gmail.com">Contact</a>
					</li>
				</ul>
			</div>
		</footer>
	</body>
</html>
